
@import "forms";
@import "bootstrap";
@import "../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";


body{
  background: url(images/patterns/4.png);
}

$side-panel-width: 200px;

h2{
  margin: 1em 0;
  text-align: center;
}
h3{
  margin: 0.5em 0;
  text-align: center;
}

.side-panel{
  @include position(absolute, 0 null 0 0);
  width: $side-panel-width;
}

.main-panel{
  @include position(absolute, 0 0 0 0);
  overflow: auto;
}

.width{
  margin: 0 auto;
  width: 600px;
}

//--

.bg-chooser{
  text-align: center;
  .style{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 3px;
    margin: 5px;
    background: white;

    &.active,
    &:hover{
      cursor: pointer;
      border: 1px solid #aaa;
      box-shadow: 0 0 5px 0px rgba(0,0,0, 0.2);
    }

    &:before{
      content: "";
      display: block;
      height: 30px;
      width: 30px;
    }

    @for $i from 1 through 9 {
      &.style-#{$i}{
        &:before{
          background: url(images/patterns/#{$i}.png);
        }
      }
    }
  }
}

//--

.header-controls{
  &.right{float: right;}
  &.left{float: left;}

  font-size: 24px;
  padding: 10px;
  margin-top: -10px;

  color: inherit;
  
  background: rgba(230,230,230, 0.5);
  border-radius: 3px;
  border: 1px solid transparent;

  &:hover{
    @include transition(all 0.3s ease);
    background: rgba(255,255,255, 1);
  }
  &:active,
  &:focus,
  &:hover{
    border: 1px solid #aaa;
    color: inherit;
    text-decoration: none;
  }
}

//--

$list-preview-size: 180px;
.all-todo-lists{
  .todo-list-preview{
    display: inline-block;
    vertical-align: top;

    margin: 10px;
    border: 1px solid #ddd;
    padding: $list-preview-size*0.1;

    height: $list-preview-size;
    width: $list-preview-size;

    color: #444;
    text-decoration: none;

    @for $i from 1 through 9 {
      &.style-#{$i}{
        background: url(images/patterns/#{$i}.png);
      }
    }

    .title{
      display: block;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }

  .create-todo-list{
    background: rgba(240,220,220, 0.2);

    color: #977;
    border-radius: 2px;
    border: 1px solid #dcc;
    font-size: 36px;
    height: 70px;
    width: 70px;
    margin: ($list-preview-size - 70px)/2;
    vertical-align: top;

    &:hover{
      @include transition(all 0.3s ease);
      background: rgba(240,220,220, 1);
    }
  }
}

//--

.todo-list{
  position: relative;

  @for $i from 1 through 9 {
    &.style-#{$i}{
      .todo-list-container,
      &:before,
      &:after{
        background: url(images/patterns/#{$i}.png);
      }
    }
  }

  &:before,
  &:after{
    content: "";
    border: 1px solid rgba(0,0,0, 0.1);
  }

  &:before{
    @include position(absolute, 6px 8px -10px 6px);
  }
  &:after{
    @include position(absolute, 3px 4px -5px 3px);
  }

  .todo-list-container{
    position: relative;
    z-index: 1;
    border: 1px solid rgba(0,0,0, 0.2);
    box-shadow: 0 0 30px 0px rgba(0,0,0, 0.4);

    .new-todo-item-field{
      width: 100%;
      font-size: 36px;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid rgba(0,0,0, 0.2);
      padding: 0.5em;
    }

    .todo-list-item{
      border-bottom: 1px solid rgba(0,0,0, 0.1);

      &:last-child{border: none;}

      input[type="checkbox"]{
        display: none;
      }
      label{
        display: block;
        padding: 20px;
        color: #333;
        font-size: 20px;
        font-weight: normal;
	margin: 0;
      }


      label:before {
        @extend .glyphicon;
        @extend .glyphicon-unchecked;
        margin-right: 20px;
        font-size: 1.4em;
        vertical-align: text-bottom;
      }
      &.completed{
        label{
          text-decoration: line-through;
	  color: #999;
        }
        label:before {
          @extend .glyphicon-check;
        }
      }
    }
  }
}

//--

.editable-label{
  display: inline-block;
  .editor-container{
    display:none;

    input{
      height: 100%;
      width: 100%;
      border: none;
      outline: 1px solid #bbf;
      outline-offset: 2px;
      margin: 0;
      padding: 0;
    }
  }
  &.editable{
    .value-container{
      display: none;
    }
    .editor-container{
      display: inherit;
    }
  }
}



//--

@import "popover";

$simple-bg-color: #fff;
$simple-font-color: #3d3d3d;

.popover-menu{
  z-index: -1;
  opacity: 0;
  &.active{    
    @include transition(all 0.3s ease);
    opacity: 1;
    z-index: 100;
  }
  
  color: $simple-font-color;
  background: $simple-bg-color;
  border-radius: 5px;
  padding: 18px;

  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  border: 1px solid rgba(0,0,0, 0.2);
  border-top: none;
  
  @include margins(0,0,0,0);
  @include arrows ($simple-bg-color, false, 0px, 20px, 9px);
}
